body {
  background: rgb(38, 45, 56);
  padding-top: 25px;
  color: white;
}

input[type="text"] {
   border: none;
   background: rgb(38, 45, 56);
   border-bottom: 3px solid rgb(139, 165, 183);
   border-radius: 0px;
}

.btn {
  border-radius: 25px;
  font-size: 1.25em;
}

.day, .times, .day-number {
  color: rgb(133, 86, 205);
}

.day-number, .day {
  text-align: center;
}

.times {
  font-size: 0.85em;
}

.event-cell {
  border-bottom: 2px solid rgb(133, 86, 205);
}

/*.button-icon {
  height: 30px;
}*/